<!-- <section class="jumbotron text-center"> -->
    <div class="container text-center mt-3">
      <h1>Listado peliculas</h1>
      <p class="lead text-muted">Listado de todas las peliculas</p>

      <table class="table text-center">
        <tr  class="table-info">
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Fecha Estreno</th>
          <th>Cantidad Publico</th>
          <th>Foto</th>
        </tr>        
        <tr *ngFor="let item of listadoPeliculas" (click)="SeleccionarPelicula(item)">
            <td>{{ item.nombre }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{item.fecha_estreno}}</td>
            <td>{{ item.cantidad_publico }}</td>
            <td><img [src]="item.foto" alt="Imagen no disponible" height="100vh" width="100vw"></td>
        </tr>
    </table>
    </div>
  <!-- </section> -->