<div  class="container mt-5 text-center">
  <h2 class="mb-4">Pelicula elegida</h2>
  <div *ngIf="peliculaCargada; else noEligioPelicula" class="card mb-4 shadow-sm">  
    <img [src]="peliculaCargada.foto" height="150vh">
    <div class="card-body px-0" >
      <ul class="ulListado">
          <li>Nombre: {{ peliculaCargada.nombre }}</li>
          <li>Tipo: {{ peliculaCargada.tipo }}</li>
          <li>Fecha estreno: {{peliculaCargada.fecha_estreno}}</li>
          <li>Cantidad publico: {{ peliculaCargada.cantidad_publico }}</li>                                        
      </ul>                                  
        
      <button *ngIf="borradoHabilitado==1" (click)="BorrarPelicula()" class="btn btn-danger">Borrar</button>
    </div>
  </div>
  <ng-template #noEligioPelicula>
    <p>Aun no selecciono ninguna pelicula</p>
  </ng-template>
  
</div>
